.dialog {
  padding: var(--padding-md);
}

.formField {
  margin-bottom: var(--margin-md);
}

.formField:last-child {
  margin-bottom: 0;
}

.dialogActions {
  padding: var(--padding-md) var(--padding-xl);
}